---
import { type teamMember } from "@/config/types/configDataTypes";
import { Image } from "astro:assets";

type Props = teamMember;

const { image, name, title, bio, ...rest } = Astro.props;
---

<div class="w-full" {...rest}>
  <div
    class="tilt-card border-border/30 bg-gradient-radial-dark relative h-full overflow-hidden rounded-3xl border p-8 will-change-transform"
  >
    <div class="flex flex-col">
      <div class="mb-6 size-24 overflow-hidden rounded-full">
        <Image
          src={image}
          alt={name}
          class="h-full w-full object-cover"
          width={180}
          densities={[1.5, 2]}
        />
      </div>
      <p class="text-foreground/80 mb-2">{title}</p>
      <h3 class="mb-8 text-3xl">{name}</h3>
      <p class="text-foreground/80 leading-relaxed">{bio}</p>
    </div>

    <!-- corner glow -->
    <div
      class="to-primary dark:to-blueGray-500 absolute right-0 bottom-0 size-44 bg-gradient-to-br from-transparent via-transparent blur-lg"
    >
    </div>
  </div>
</div>
